* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

.input-base {
  max-width: 400px;
  width: 100%;
  height: 45px;
  padding-left: 16px;
  font-size: .9em;
  font-family: "Montserrat", sans-serif;
  border: none; }

.button-base {
  max-width: 150px;
  width: 100%;
  height: 45px;
  border: none;
  border-radius: 2px;
  background-color: #CD3333;
  color: #FFF;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: .85em;
  font-family: "Montserrat", sans-serif; }

.works__contnr-into {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: minmax(150px, 1fr) 1fr;
  grid-template-rows: minmax(150px, 1fr) 1fr;
  grid-gap: 0 20px; }

.works__name-section, .hotels__name-section, .tips__name-section {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / span 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / span 1; }

.works__box-item:nth-of-type(2) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / span 1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / span 1; }

.works__box-item:nth-of-type(3) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / span 1; }

.works__box-item:nth-of-type(1) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / span 1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / span 1; }

.hotels__contnr-into {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
  grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: minmax(150px, 1fr) auto auto;
  grid-template-rows: minmax(150px, 1fr) auto auto;
  grid-gap: 0 10px; }

.hotels__name-section {
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1 / span 5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / span 1; }

.hotels__hotel-item:nth-of-type(1) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / span 1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / span 1; }

.hotels__hotel-item:nth-of-type(2) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / span 1; }

.hotels__hotel-item:nth-of-type(3) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / span 1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / span 1; }

.hotels__hotel-item:nth-of-type(4) {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / span 1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / span 1; }

.hotels__hotel-item:nth-of-type(5) {
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5 / span 1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / span 1; }

.hotels__button-view_all {
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1 / span 5;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / span 1; }

.tips__contnr-into {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(450px, 1fr))[2];
  grid-template-columns: repeat(2, minmax(450px, 1fr));
  -ms-grid-rows: minmax(150px, 1fr) auto;
  grid-template-rows: minmax(150px, 1fr) auto;
  grid-gap: 0 20px; }

.tips__name-section {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / span 1; }

.tips__item:nth-of-type(0) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / span 1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / span 1; }

.tips__item:nth-of-type(1) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / span 1; }

.footer__contnr-into {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
  grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: auto;
  grid-template-rows: auto; }

.hero {
  max-width: 100%;
  height: 550px;
  background-image: url("../images/image-hero-main.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: bottom; }
  .hero__header {
    max-width: 1200px;
    height: auto;
    padding-top: 20px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .hero__header-logo {
      height: 65px; }
    .hero__header-menu {
      list-style: none; }
      .hero__header-menu-item {
        display: inline-block;
        margin-right: 24px;
        font-size: .8em;
        font-family: "Montserrat", sans-serif;
        font-weight: 600; }
    .hero__header-link {
      text-decoration: none;
      color: #FFF; }
  .hero__title-welcome {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-size: 1.5em;
    color: #FFF;
    margin-bottom: 30px; }
  .hero__form-search-hotel {
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 830px;
    height: auto;
    -webkit-box-shadow: 0 4px 6px lightgray;
    box-shadow: 0 4px 6px lightgray; }
  .hero__input-select {
    font-size: .75em;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    color: #CD3333;
    border: none; }
    .hero__input-select option {
      color: #000; }
  .hero .active {
    color: #CD3333; }
  .hero__input-select:nth-of-type(1) {
    max-width: 220px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px; }
  .hero__input-select:nth-of-type(2) {
    max-width: 165px; }
  .hero__input-select:nth-of-type(3) {
    max-width: 165px; }
  .hero__input-select:nth-of-type(4) {
    max-width: 80px; }
  .hero__button-search {
    max-width: 200px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }

.works {
  max-width: 100%;
  height: auto;
  background-color: #F1F1F1;
  padding-top: 60px;
  padding-bottom: 60px;
  position: relative; }
  .works__contnr-into {
    margin-left: auto;
    margin-right: auto;
    max-width: 850px;
    width: 100%;
    height: 450px;
    background-color: #F1F1F1; }
  .works__name-section, .hotels__name-section, .tips__name-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .works__section-title, .hotels__section-title, .tips__section-title, .newsletter__section-title {
    color: #000;
    margin-bottom: 6px;
    font-family: "Montserrat", sans-serif; }
  .works__section-descrip, .hotels__section-descrip, .tips__section-descrip, .newsletter__section-descrip {
    color: #707070;
    font-family: "Montserrat", sans-serif;
    font-size: .9em; }
  .works__box-item {
    width: 100%;
    height: 300px;
    padding-top: 35px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 4px;
    background-color: #FFF; }
  .works__image {
    width: 110px;
    height: 110px;
    border-radius: 3px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .works__image img {
      width: 110%;
      height: 110%;
      -o-object-fit: cover;
      object-fit: cover; }
  .works__item-title {
    text-align: center;
    font-size: 1em;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 10px;
    color: #000;
    line-height: 1.5em; }
  .works__item-descrip {
    line-height: 1.5em;
    text-align: center;
    font-size: .84em;
    font-family: "Montserrat", sans-serif;
    color: #707070; }
  .works__ranking {
    position: absolute;
    top: -60px;
    margin-left: 19%;
    border-radius: 2px;
    background-color: #FFF;
    -webkit-box-shadow: 0 4px 6px lightgrey;
    box-shadow: 0 4px 6px lightgrey;
    height: 120px;
    width: 830px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .works__ranking-item {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .works__ranking-item-name {
      color: #000;
      font-size: 1.5em;
      margin-bottom: 6px;
      font-family: "Montserrat", sans-serif; }
    .works__ranking-item-descrip {
      color: #707070;
      font-size: .8em;
      font-family: "Montserrat", sans-serif; }

.hotels {
  max-width: 100%;
  height: auto; }
  .hotels__contnr-into {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: inherit; }
  .hotels__hotel-item {
    width: 100%;
    height: auto;
    font-family: "Montserrat", sans-serif;
    padding-bottom: 25px;
    position: relative; }
  .hotels__contnr-delay {
    display: none; }
  .hotels__hotel-item .hotels__contnr-delay {
    display: block;
    background-color: rgba(255, 255, 255, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 40%;
    padding-top: 40%;
    cursor: pointer; }
  .hotels__icon-arrow-left {
    width: 60px;
    margin-left: auto;
    margin-right: auto; }
  .hotels__hotel-image {
    background-color: lightgray;
    color: #FFF;
    width: 100%;
    height: 225px;
    margin-bottom: 30px;
    border-radius: 2px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center; }
  .hotels__hotel-stars {
    float: left;
    margin-left: 12%;
    margin-right: 6px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .hotels__icon-star {
    width: 20px;
    margin-right: 2px; }
  .hotels__hotel-reviews {
    display: inline-block;
    font-size: .8em;
    margin-bottom: 5px;
    color: #707070; }
  .hotels__hotel-name {
    font-size: .90em;
    margin-bottom: 5px;
    text-align: center; }
  .hotels__hotel-location {
    font-size: .85em;
    display: block;
    text-align: center;
    margin-bottom: 20px;
    color: #707070; }
  .hotels__hotel-price {
    font-size: 1.5em;
    text-align: center;
    color: #CD3333; }
  .hotels__button-view_all {
    margin-left: auto;
    margin-right: auto;
    max-width: 200px;
    margin-top: 50px; }

.line {
  width: 840px;
  border-bottom: 1px solid #707070;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px; }

.tips {
  max-width: 100%;
  height: auto; }
  .tips__contnr-into {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    height: inherit;
    padding-top: 50px;
    padding-bottom: 50px; }
  .tips__item {
    width: 100%;
    height: 200px; }
  .tips__date {
    height: inherit;
    float: left;
    margin-right: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .tips__date h1 {
      font-size: 4em;
      line-height: .85em;
      color: #CD3333;
      font-family: "Montserrat", sans-serif; }
    .tips__date p {
      font-size: 1em;
      margin-top: 16px;
      font-family: "Montserrat", sans-serif; }
  .tips__item-title {
    font-size: 1em;
    margin-bottom: 10px;
    font-family: "Montserrat", sans-serif; }
  .tips__item-details {
    font-size: .8em;
    margin-bottom: 16px;
    font-style: italic;
    color: #707070;
    font-family: "Montserrat", sans-serif; }
  .tips__item-descrip {
    font-size: .90em;
    font-family: "Montserrat", sans-serif;
    line-height: 1.5em;
    color: #707070; }
  .tips .clear-float {
    clear: both; }

.newsletter {
  max-width: 100%;
  height: 150px;
  background-color: #F1F1F1;
  margin-bottom: 50px; }
  .newsletter__contnr-into {
    max-width: 960px;
    width: 100%;
    height: inherit;
    background-color: #F1F1F1;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .newsletter__form-noti {
    width: 550px;
    height: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .newsletter__box-email {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    font-family: "Montserrat", sans-serif; }
  .newsletter__bttn-subscribe {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }

.footer {
  height: 220px;
  max-width: 100%; }
  .footer__contnr-into {
    width: 100%;
    height: inherit;
    font-family: "Montserrat", sans-serif;
    padding-top: 50px;
    padding-bottom: 50px; }
  .footer__logo-web {
    height: 65px;
    margin-left: auto;
    margin-right: auto; }
  .footer__copyright {
    font-size: .75em;
    line-height: 1.5em;
    color: #707070;
    font-weight: 500;
    margin-left: auto;
    margin-right: auto; }
  .footer__more-info, .footer__menu {
    font-size: .8em;
    list-style: none;
    margin-left: auto;
    margin-right: auto; }
    .footer__more-info-item, .footer__menu-item {
      margin-bottom: 6px;
      font-weight: 400; }
  .footer__icons-social {
    width: auto;
    margin-left: auto;
    margin-right: auto; }
  .footer__link-icon {
    margin-right: 10px;
    width: auto;
    height: auto;
    display: inline-block; }
  .footer__icon-sm {
    width: 24px; }
  .footer__item-link, .footer__menu-link {
    text-decoration: none;
    color: #707070; }
    .footer__item-link:hover, .footer__menu-link:hover {
      text-decoration: underline; }
