.footer {
  height: 220px;
  @include max-width-page;
  
  &__contnr-into {
    width: 100%;
    height: inherit;
    font-family: $font1;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &__logo-web {
    height: 65px;
    @include contnr-center;
  }
  &__copyright {
    font-size: .75em;
    line-height: 1.5em;
    color: $color-grey;
    font-weight: 600;
    @include contnr-center;
  }

  &__more-info {
    font-size: .8em;
    list-style: none;
    @include contnr-center;

    &-item {
      margin-bottom: 6px;
      font-weight: 600;
    }
  }

  &__menu {
    @extend .footer__more-info;

    &-item {
      @extend .footer__more-info-item;
    }
  }

  &__icons-social {
    width: auto;
    @include contnr-center;
  }

  &__link-icon {
    margin-right: 10px;
    width: auto;
    height: auto;
    display: inline-block;
  }

  &__icon-sm {
    width: 24px;
  }
  
  &__item-link {
    text-decoration: none;
    color: $color-grey;
    &:hover {
      text-decoration: underline;
    }
  }
  &__menu-link {
    @extend .footer__item-link;
  }

}