.newsletter {
  @include max-width-page;
  height: 150px;
  background-color: $color-primario;
  margin-bottom: 50px;

  &__contnr-into {
    @include contnr-center;
    max-width: 960px;
    width: 100%;
    height: inherit;
    background-color: $color-primario;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__name-section {
    font-family: $font1;
  }
  &__section-title {
    text-align: left;
  }
  &__section-descrip {
    text-align: left;
  }

  &__form-noti {
    width: 550px;
    height: 45px;
    display: flex;
  }
  &__box-email {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  &__bttn-subscribe {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}