.works {
  @include max-width-page;
  height: auto;
  background-color: $color-primario;
  padding-top: 60px;
  padding-bottom: 60px;
  position: relative;

  &__contnr-into {
    @include contnr-center;
    max-width: 850px;
    width: 100%;
    height: 450px;
    background-color: $color-primario;
  }

  &__name-section {
    @include content-center-fb;
    flex-direction: column;
    font-family: $font1;
  }

  &__section-title {
    color: $color-black;
  }

  &__section-descrip {
    color: $color-grey;
  }

  &__box-item {
    width: 100%;
    height: 300px;
    padding-top: 35px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 4px;
    background-color: $color-white;
  }

  &__image {
    width: 110px;
    height: 110px;
    border-radius: 3px;
    margin-bottom: 20px;
    @include contnr-center;
    @include content-center-fb;
    img {
      width: 110%;
      height: 110%;
      object-fit: cover;
    }
  }

  &__item-title {
    text-align: center;
    font-size: 1em;
    font-family: $font1;
    margin-bottom: 10px;
    color: $color-black;
  }

  &__item-descrip {
    text-align: center;
    font-size: .85em;
    font-family: $font1;
    color: $color-grey;
  }


  &__ranking {
    position: absolute;
    top: -60px;
    margin-left: 19%;
    border-radius: 2px;
    background-color: $color-white;
    box-shadow: 0 4px 6px lightgrey;
    height: 120px;
    width: 830px;
    display: flex;
  }

  &__ranking-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: $font1;
    
    &-name {
      color: $color-black;
      font-size: 1.5em;
    }
    &-descrip {
      color: $color-grey;
      font-size: .8em;
    }
  }

}